{
  "presets": [ 
        ["latest", {"loose": true, "modules": "commonjs"}],
        "stage-0" 
    ],
  "plugins": [
        // http://babeljs.io/docs/plugins/transform-runtime/
        ["transform-runtime", {
            //"polyfill": true,
            "regenerator": true
        }]
    ],
}