{
  "presets": [ 
        ["latest", {"loose": true, "modules": "commonjs"}],
    ],
  "plugins": [
        //https://github.com/babel/babelify/issues/28
        // http://babeljs.io/docs/plugins/transform-runtime/
        ["transform-runtime"]
    ],
}